@model IEnumerable<CinemaTicketHub.Models.Phim>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <title>[Quản lý phim] Cinema Ticket Hub</title>
</head>

<h2>Danh sách tất cả phim</h2>
<p>
    @Html.ActionLink("Thêm Phim Mới", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Tên Phim
            </th>
            <th scope="col">
                Thể Loại
            </th>
            <th scope="col">
                Ngày Khởi Chiếu
            </th>
            <th scope="col">
                Đối Tượng
            </th>
            <th scope="col">
                Ngôn ngữ
            </th>
            <th scope="col">
                Thời Lượng
            </th>
            <th scope="col">
                Trạng Thái
            </th>
            <th scope="col">
                Poster
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle; font-weight: bold; color: goldenrod; word-wrap: break-word; max-width: 250px; text-align: center">
                    @item.TenPhim
                </td>
                <td style="vertical-align: middle; word-wrap: break-word; max-width: 150px; text-align: center">
                    @item.LoaiPhim.TenLoai
                </td>
                <td style="vertical-align: middle">
                    @item.NgayKhoiChieu.ToShortDateString()
                </td>
                <td style="vertical-align: middle">
                    @item.DoiTuong
                </td>
                <td style="vertical-align: middle; word-wrap: break-word; max-width: 180px; text-align: center">
                    @item.NgonNgu
                </td>
                @if (item.ThoiLuong == null)
                {
                    <td style="vertical-align: middle">
                        ...
                    </td>
                }
                else
                {
                    <td style="vertical-align: middle">
                        @item.ThoiLuong Phút
                    </td>
                }
                @if (item.TrangThai == true)
                {

                    if (item.NgayKhoiChieu > DateTime.Now)
                    {
                        <td style="vertical-align: middle">Phim sắp chiếu | @Html.ActionLink("Đổi", "ChangeStatus", new { MaPhim = item.MaPhim }, new { onclick = "return confirm('Bạn có muốn thay đổi trạng thái không?');" })</td>
                    }
                    else
                    {
                        <td style="vertical-align: middle">Phim đang chiếu | @Html.ActionLink("Đổi", "ChangeStatus", new { MaPhim = item.MaPhim }, new { onclick = "return confirm('Bạn có muốn thay đổi trạng thái không?');" })</td>
                    }
                }
                else
                {
                    if (item.NgayKhoiChieu > DateTime.Now)
                    {
                        <td style="vertical-align: middle">Không xác định | @Html.ActionLink("Đổi", "ChangeStatus", new { MaPhim = item.MaPhim }, new { onclick = "return confirm('Bạn có muốn thay đổi trạng thái không?');" })</td>
                    }
                    else
                    {
                        <td style="vertical-align: middle">Phim ngưng chiếu | @Html.ActionLink("Đổi", "ChangeStatus", new { MaPhim = item.MaPhim }, new { onclick = "return confirm('Bạn có muốn thay đổi trạng thái không?');" })</td>
                    }
                }
                <td style="vertical-align: middle">
                    <img src="@item.HinhAnh" style="height: auto; width: 180px; object-fit: contain" />
                </td>
                <td style="vertical-align: middle">
                    <a href="@Url.Action("Details", new { MaPhim = item.MaPhim })" style="color: goldenrod"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a href="@Url.Action("Delete", new { MaPhim = item.MaPhim })" style="color: #eb1616" onclick="return confirm('Bạn có muốn xóa phim này không?');" class="delete-button"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
