@using Microsoft.AspNet.Identity;
@using CinemaTicketHub.Models
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId());
    var roles = userManager.GetRoles(user.Id);
    var userrole = roles.FirstOrDefault();
}

@{
    ViewBag.Title = "Thông tin cá nhân";
}

<div class="container" style="min-height: 80.8vh">
    <h2 style="text-align: center; margin: 50px 0">THÔNG TIN CÁ NHÂN</h2>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@user.Avatar" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@user.Name</h4>
                                <p class="text-secondary mb-1">@userrole</p>
                                <p class="text-muted font-size-sm">Điểm tích lũy: 100</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Họ và tên:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @user.Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @user.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Số điện thoại:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @user.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ngày sinh:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @user.Birthday.ToShortDateString()
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <a href="#" class="btn btn-outline-danger">Thay đổi thông tin</a>
                </div>

            </div>
        </div>
    </div>
</div>