@model CinemaTicketHub.Models.SuatChieu

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "ShowtimesManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h2>Thông tin chi tiết suất chiếu</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSuatChieu)
<div class="row">
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Phim</label>
        @Html.DropDownList("MaPhim", new SelectList(ViewBag.Phim, "MaPhim", "TenPhim"), "--Vui lòng chọn phim--", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaPhim, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Phòng chiếu</label>
        @Html.DropDownList("MaPhong", new SelectList(ViewBag.PhongChieu, "MaPhong", "TenPhong"), "--Vui lòng chọn phòng chiếu--", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Ngày chiếu</label>
        @Html.EditorFor(model => model.NgayChieu, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NgayChieu, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Giờ bắt đầu</label>
        @Html.EditorFor(model => model.GioBatDau, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GioBatDau, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Giờ kết thúc</label>
        @Html.EditorFor(model => model.GioKetThuc, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GioKetThuc, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <input type="submit" value="Lưu thay đổi" class="btn btn-outline-danger" />
    </div>
    <div>
    </div>
</div>
}
<hr />
@Html.ActionLink("Quay lại danh sách suất chiếu", "List")