@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <title>[Quản lý suất chiếu] Cinema Ticket Hub</title>
</head>

<h2>Danh sách suất chiếu phim</h2>
<p>
    @Html.ActionLink("Thêm Suất Chiếu Mới", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Mã suất chiếu
            </th>
            <th scope="col">
                Phim
            </th>
            <th scope="col">
                Mã phòng
            </th>
            <th scope="col">
                Ngày chiếu
            </th>
            <th scope="col">
                Giờ bắt đầu
            </th>
            <th scope="col">
                Giờ kết thúc
            </th>
            <th scope="col">
                Trạng thái
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">
                    @item.MaSuatChieu
                </td>
                <td style="vertical-align: middle; font-weight: bold; color: goldenrod; word-wrap: break-word; max-width: 250px; text-align: center">
                    @{
                        var movieName = ViewBag.MovieNames[Model.IndexOf(item)];
                        @movieName
                    }
                </td>
                <td style="vertical-align: middle">
                    @item.PhongChieu.TenPhong
                </td>
                <td style="vertical-align: middle">
                    @item.NgayChieu.ToShortDateString()
                </td>
                <td style="vertical-align: middle">
                    @item.GioBatDau
                </td>
                <td style="vertical-align: middle">
                    @item.GioKetThuc
                </td>
                @if (item.NgayChieu.ToShortDateString() == DateTime.Now.ToShortDateString())
                {
                    <td style="vertical-align: middle; color: cyan">
                        Chiếu hôm nay
                    </td>
                }
                else
                {
                    if (DateTime.Parse(item.NgayChieu.ToShortDateString()) > DateTime.Now.Date)
                    {
                        <td style="vertical-align: middle; color: lime">
                            Chờ chiếu
                        </td>
                    }
                    else
                    {
                        <td style="vertical-align: middle; color: red">
                            Đã chiếu
                        </td>
                    }
                }
                <td style="vertical-align: middle">
                    <a href="@Url.Action("Details", new { MaSuatChieu = item.MaSuatChieu })" style="color: goldenrod"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a href="@Url.Action("Delete", new { MaSuatChieu = item.MaSuatChieu })" style="color: #eb1616" onclick="return confirm('Bạn có muốn xóa suất chiếu này không?');" class="delete-button"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>