@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@CinemaTicketHub.MultiLanguage.Language.ShowtimesList</h2>
<p>
    @Html.ActionLink(@CinemaTicketHub.MultiLanguage.Language.Add + " " + @CinemaTicketHub.MultiLanguage.Language.Showtimes, "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.ShowtimeID
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.Movie
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.RoomName
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.ShowDate
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.StartTime
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.EndTime
            </th>
            <th scope="col">
                @CinemaTicketHub.MultiLanguage.Language.Status
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">
                    @item.MaSuatChieu
                </td>
                <td style="vertical-align: middle; font-weight: bold; color: goldenrod; word-wrap: break-word; max-width: 250px; text-align: center">
                    @{
                        var movieName = ViewBag.MovieNames[Model.IndexOf(item)];
                        @movieName
                    }
                </td>
                <td style="vertical-align: middle">
                    @item.PhongChieu.TenPhong
                </td>
                <td style="vertical-align: middle">
                    @item.NgayChieu.ToShortDateString()
                </td>
                <td style="vertical-align: middle">
                    @item.GioBatDau
                </td>
                <td style="vertical-align: middle">
                    @item.GioKetThuc
                </td>
                @if (item.NgayChieu.ToShortDateString() == DateTime.Now.ToShortDateString())
                {
                    <td style="vertical-align: middle; color: cyan">
                        @CinemaTicketHub.MultiLanguage.Language.Today
                    </td>
                }
                else
                {
                    if (DateTime.Parse(item.NgayChieu.ToShortDateString()) > DateTime.Now.Date)
                    {
            <td style="vertical-align: middle; color: lime">
                @CinemaTicketHub.MultiLanguage.Language.ComingSoon
            </td>
                    }
                    else
                    {
            <td style="vertical-align: middle; color: red">
                @CinemaTicketHub.MultiLanguage.Language.Screened
            </td>
                    }
                }
                <td style="vertical-align: middle">
                    <a href="@Url.Action("Details", new { MaSuatChieu = item.MaSuatChieu })" style="color: goldenrod"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a href="@Url.Action("Delete", new { MaSuatChieu = item.MaSuatChieu })" style="color: #eb1616" onclick="return confirm('@CinemaTicketHub.MultiLanguage.Language.DeleteNotify?');" class="delete-button"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>