@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security
@using System.Security.Claims
@using System.Threading.Tasks
@using CinemaTicketHub.Models

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>

@{
    ViewBag.Title = "[Admin] Quản Lý Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<script>
    var message = '@TempData["message"]';
    if (message !== '') {
        alert(message);
        TempData["message"] = "";
    }
</script>*@

<style type="text/css">
    button {
        padding: 15px;
        text-align: center;
    }
</style>
@{
    if (IsPost)
    {
        var userId = Request.Form["userId"];
        var newRole = Request.Form["newRole"];

        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var user = userManager.FindById(userId);
        if (user != null)
        {
            if (newRole != null)
            {
                userManager.RemoveFromRoles(userId, userManager.GetRoles(userId).ToArray());
                userManager.AddToRole(userId, newRole);

                <script>
                    function showAlert() {
                        Swal.fire(
                            'Role của @user.Email đã được thay đổi thành @newRole',
                        )
                    }
                    window.onload = showAlert;
                </script>
            }
            else
            {
                <script>
                    function showAlert() {
                        Swal.fire(
                            'Vui lòng chọn Role muốn thay đổi!',
                        )
                    }
                    window.onload = showAlert;
                </script>
            }
        }
        else
        {
            <script>
                function showAlert() {
                    Swal.fire(
                        'Không tìm thấy User!',
                    )
                }
                window.onload = showAlert;
            </script>
        }
    }
}

@{
    var _dbContext = new ApplicationDbContext();
    var userManagerInfo = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(_dbContext));
    var users = userManagerInfo.Users.OrderBy(o => o.Name).ToList();
}

<h2>Quản lý Users</h2>

<div class="row" style="margin-top: 50px">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Role
                    </th>
                    <th scope="col">
                        Avatar
                    </th>
                    <th scope="col">
                        Họ và Tên
                    </th>
                    <th scope="col">
                        Email
                    </th>
                    <th scope="col">
                        Số điện thoại
                    </th>
                    <th scope="col">
                        Ngày Sinh
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                @foreach (var item in users)
                {
                    var roles = userManagerInfo.GetRoles(item.Id);
                    var userrole = roles.FirstOrDefault();
                    <tr>
                        <td style="vertical-align: middle; color: #0dcaf0">
                            @userrole
                        </td>
                        <td style="vertical-align: middle">
                            <img src="@item.Avatar" class="rounded-circle" style="height: auto; width: 65px; object-fit: contain; margin: 7px 0;" />
                        </td>
                        <td style="vertical-align: middle; font-weight: bold; color: goldenrod; word-wrap: break-word; max-width: 250px; text-align: center">
                            @item.Name
                        </td>
                        <td style="vertical-align: middle; font-weight: bold; word-wrap: break-word; max-width: 250px; text-align: center">
                            @item.Email
                        </td>
                        <td style="vertical-align: middle">
                            @item.PhoneNumber
                        </td>
                        <td style="vertical-align: middle">
                            @item.Birthday.ToShortDateString()
                        </td>
                        <td style="vertical-align: middle">
                            <a href="@Url.Action("DeleteUser", "UsersManage", new { userId = item.Id })" onclick="return confirm('Bạn có muốn xóa User này không?')"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
        </table>
    </div>

    <div class="col-4">
        <p class="card-text"><small class="text-body-secondary" style="color: #0dcaf0; font-size: large"><b>Thay đổi Role cho Users</b></small></p>
        <div class="border border-info" style="padding: 35px">
            <form method="post">
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Chọn User</label>
                    @Html.DropDownList("UserId", ViewBag.Users as SelectList, "--Vui lòng chọn User--", new { @class = "form-control", name = "userId" })
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Chọn Role muốn đổi</label>
                    <select name="newRole" class="form-control">
                        <option value="" disabled selected>--Vui lòng chọn Role--</option>
                        <option value="Admin">Admin</option>
                        <option value="Member">Member</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-info">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>