@model IEnumerable<CinemaTicketHub.Models.Phim>

@{
    ViewBag.Title = "Phim sắp chiếu";
}

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Phim sắp chiếu</h2>
                    <p class="lead fw-normal text-muted mb-5">Các phim sắp ra mắt tại các rạp của chúng tôi.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="@item.HinhAnh" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">@item.DoiTuong</div>
                            <a class="text-decoration-none link-dark stretched-link" href="@Url.Action("Details", "Movies", new { MaPhim = item.MaPhim })"><h5 class="card-title mb-3">@item.TenPhim</h5></a>
                            <p class="card-text mb-0" style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.MoTa</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="text-muted">@item.NgayKhoiChieu.ToShortDateString()</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>