@model CinemaTicketHub.Models.Phim

@{
    ViewBag.Title = "Details";
}

<head>
    <title>[Chi tiết phim] Cinema Ticket Hub</title>
</head>
<div style="min-height: 86.2vh">
    <section class="py-5 bg-light" id="scroll-target">
        <h2 class="fw-bolder" style="text-align: center">Thông tin chi tiết phim</h2>
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <iframe width="590" height="345" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">@Model.TenPhim</h2>
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">@Model.DoiTuong</div>
                    <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">Ngày khởi chiếu: @Model.NgayKhoiChieu.ToShortDateString()</p>
                    @if (Model.ThoiLuong != null)
                    {
                        <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">Thời lượng: @Model.ThoiLuong phút</p>
                    }
                    else
                    {
                        <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">Thời lượng: Chưa xác định</p>
                    }
                    <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">Ngôn ngữ: @Model.NgonNgu</p>

                    <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">Các suất chiếu hôm nay:</p>
                    <ul>
                        @foreach (var item in ViewBag.SuatChieu)
                        {
                            if (item.NgayChieu == DateTime.Today)
                            {
                                <li style="display: inline-block; margin: 20px 20px 10px 0"><a href="@Url.Action("SeatSelection", "Booking", new { MaSuatChieu = item.MaSuatChieu })" class="btn btn-outline-danger" style="font-weight: bold">@item.GioBatDau.ToString("hh\\:mm")</a></li>
                            }
                        }
                    </ul>
                    <hr />
                    <p class="lead fw-normal text-muted mb-0" style="font-size: large; text-align: justify">@Model.MoTa</p>
                </div>
            </div>
        </div>
        <div class="fw-bolder" style="text-align: center">
            @Html.ActionLink("Quay lại danh sách phim", "NowShowing")
        </div>
    </section>
</div>