@model CinemaTicketHub.Models.Phim

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>[Chi Tiết Phim] Cinema Ticket Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <style>
        .btn-booking {
            padding: 10px 25px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            display: block;
            border: 0px;
            box-shadow: 0px 0px 14px -7px #f09819;
            background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            text-decoration: none;
        }

            .btn-booking:hover {
                background-position: right center;
                /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }

            .btn-booking:active {
                transform: scale(0.95);
            }
    </style>
</head>

<body>
    <!-- ***** Details Start ***** -->
    <div class="game-details">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="margin: 0 0 20px 0; text-align: center">@Model.TenPhim</h3>
            </div>
            <!-- ***** Banner Start ***** -->
            <div class="col-lg-12">
                <div class="main-profile ">
                    <div class="row">
                        <div class="col-lg-8">
                            <iframe width="730" height="410" style="border-radius: 23px" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4 align-self-center">
                            <ul>
                                @if (Model.NgayKhoiChieu != null)
                                {
                                    <li>Ngày khởi chiếu <span>@Model.NgayKhoiChieu.ToShortDateString()</span></li>
                                }
                                else
                                {
                                    <li>Ngày khởi chiếu <span>Chưa xác định</span></li>
                                }

                                @if (Model.ThoiLuong != null)
                                {
                                    <li>Thời lượng <span>@Model.ThoiLuong phút</span></li>
                                }
                                else
                                {
                                    <li>Thời lượng <span>Chưa xác định</span></li>
                                }

                                @if (Model.NgonNgu != null)
                                {
                                    <li>Ngôn ngữ <span>@Model.NgonNgu</span></li>
                                }
                                else
                                {
                                    <li>Ngôn ngữ <span>Chưa xác định</span></li>
                                }

                                @if (Model.DoiTuong != null)
                                {
                                    <li>Đối tượng <span>@Model.DoiTuong</span></li>
                                }
                                else
                                {
                                    <li>Đối tượng <span>Chưa xác định</span></li>
                                }
                            </ul>
                        </div>
                        <div class="col-lg-12" style="margin: 15px 0 30px">
                            <p>@Model.MoTa</p>
                        </div>
                        <div class="col-lg-10">
                            <ul style="padding: 20px 30px; height: 82px">
                                @if (ViewBag.SuatChieu != null && ViewBag.SuatChieu.Count > 0)
                                {
                                    foreach (var item in ViewBag.SuatChieu)
                                    {
                                        <li style="height: 41px; max-width: 85px; border: none; padding: 0; display: inline-block; margin-right: 15px">
                                            <a class="btn-booking" style="font-weight: bold" href="@Url.Action("SeatSelection", "Booking", new { MaSuatChieu = item.MaSuatChieu })">@item.GioBatDau.ToString("hh\\:mm")</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li style="list-style: none; text-align: center; margin-left: -32px"><p>Hôm nay chưa có suất chiếu dành cho phim này</p></li>
                                }
                            </ul>
                        </div>
                        <div class="col-lg-2 align-self-center">
                            <input type="button" id="datepicker" value="Chọn ngày chiếu" class="btn btn-outline-light">
                            @*<button id="setTodayBtn" class="btn btn-primary" style="text-align: right">Hôm nay</button>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Banner End ***** -->
        </div>
    </div>
    <!-- ***** Details End ***** -->
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/popup.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script>
$(document).ready(function() {
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true
    });

    $('#datepicker').on('change', function() {
        var selectedDate = $(this).val();
        var maPhim = '@Model.MaPhim';

        // Chuyển hướng trang đến action "Details" với các tham số MaPhim và selectedDate
        window.location.href = '@Url.Action("Details", "Movies")?MaPhim=' + maPhim + '&selectedDate=' + selectedDate;
    });

        // Bắt sự kiện khi nút "Hôm nay" được nhấp vào
    $('#setTodayBtn').click(function() {
        var today = new Date();
        var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        var maPhim = '@Model.MaPhim';

        // Chuyển hướng trang đến action "Details" với các tham số MaPhim và ngày hôm nay
        window.location.href = '@Url.Action("Details", "Movies")?MaPhim=' + maPhim + '&selectedDate=' + formattedDate;
    });
});
    </script>
</body>
</html>