@using Microsoft.AspNet.Identity;
@using CinemaTicketHub.Models
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId());
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a href="/Manage/UserProfile">@user.Name <img src="@user.Avatar" alt=""></a>
    }
}
else
{
<a href="@Url.Action("Login", "Account")" id="loginLink">@CinemaTicketHub.MultiLanguage.Language.Login/@CinemaTicketHub.MultiLanguage.Language.Register <img src="~/Content/assets/images/profile-header.jpg" alt=""></a>
}

<script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>