@model CinemaTicketHub.Models.CT_KhuyenMai

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@CinemaTicketHub.MultiLanguage.Language.Details</h2>
<p>@CinemaTicketHub.MultiLanguage.Language.Promotion: @ViewBag.PromotionName.TenKM</p>
<hr />
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @CinemaTicketHub.MultiLanguage.Language.Ordinal
                    </th>
                    <th scope="col">
                        @CinemaTicketHub.MultiLanguage.Language.PromotionCode
                    </th>
                    <th scope="col">
                        @CinemaTicketHub.MultiLanguage.Language.Discount
                    </th>
                    <th scope="col">
                        @CinemaTicketHub.MultiLanguage.Language.Period
                    </th>
                    <th scope="col">
                        @CinemaTicketHub.MultiLanguage.Language.Status
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @{
                    int stt = 1;
                }
                @foreach (var item in ViewBag.PromotionDetail)
                {
                    <tr>
                        <td style="vertical-align: middle">
                            @stt
                        </td>
                        <td style="vertical-align: middle; font-weight: bold; color: goldenrod; word-wrap: break-word; max-width: 250px; text-align: center">
                            @item.IdKM@item.MaKM
                        </td>
                        @if (item.KhuyenMai.PhanTram == 0)
                        {
                            <td style="vertical-align: middle">
                                @string.Format("{0:#,0}", item.KhuyenMai.SoTienGiam)
                            </td>
                        }
                        else
                        {
                            <td style="vertical-align: middle">
                                @item.KhuyenMai.PhanTram%
                            </td>
                        }
                        <td style="vertical-align: middle">
                            @item.KhuyenMai.ThoiHan.ToString("dd/MM/yyyy")
                        </td>
                        @if (item.TrangThai == true)
                        {
                            <td style="vertical-align: middle">
                                @CinemaTicketHub.MultiLanguage.Language.Available
                            </td>
                        }
                        else
                        {
                    <td style="vertical-align: middle">
                        @CinemaTicketHub.MultiLanguage.Language.Unavailable
                    </td>
                        }
                        @{ stt++; }
                        <td style="vertical-align: middle">
                            <a href="@Url.Action("ChangeStatus", new { IdKM = item.IdKM, MaKM = item.MaKM })" style="color: #0dcaf0" onclick="return confirm('@CinemaTicketHub.MultiLanguage.Language.ChangeStatusNotify?');" class="delete-button"><i class="fa-solid fa-rotate"></i></a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>

    </div>
</div>
<hr />
@Html.ActionLink(@CinemaTicketHub.MultiLanguage.Language.Back, "Generate")

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[name='LoaiKM']").change(function () {
            if ($(this).val() == "1") {
                // Nếu chọn radio 1, ẩn SoTienGiam và cho phép nhập PhanTram
                $("#SoTienGiam").val("0").prop("disabled", true).css("display", "none");
                $("#PhanTram").prop("disabled", false).css("display", "block");
            } else {
                // Nếu chọn radio 2, ẩn PhanTram và cho phép nhập SoTienGiam
                $("#PhanTram").val("0").prop("disabled", true).css("display", "none");
                $("#SoTienGiam").prop("disabled", false).css("display", "block");
            }
        });

        // Mặc định ẩn SoTienGiam khi trang được load
        $("#SoTienGiam").val("0").prop("disabled", true).css("display", "none");
        $("#PhanTram").prop("disabled", false).css("display", "block");
    });

</script>
