@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>[Trang Chủ] Cinema Ticket Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>

    <!-- ***** Banner Start ***** -->
    <div class="main-banner" style="background-image: url('/Content/assets/images/banner-bg.jpg')">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-text">
                    <h6>Welcome To Cinema Ticket Hub</h6>
                    <h4><em>Xem</em> Tất Cả Phim Tại Rạp Của Chúng Tôi</h4>
                    <div class="main-button">
                        <a href="/Movies/NowShowing">Đặt vé ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Banner End ***** -->
    <!-- ***** Nowshowing Start ***** -->
    <div class="most-popular">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-section">
                    <h4><em>Phim</em> Đang Chiếu</h4>
                </div>

                <div class="row">
                    @foreach (var item in ViewBag.Nowshowing)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <a href="@Url.Action("Details", "Movies", new { MaPhim = item.MaPhim })"><img src="@item.HinhAnh" alt=""></a>
                                <h4 style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">@item.TenPhim<br><span>@item.MoTa</span></h4>
                                <ul>
                                    @if (item.DoiTuong == null)
                                    {
                                        <li><i class="fa fa-eye"></i> Chưa xác định</li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-eye"></i> @item.DoiTuong</li>
                                    }

                                    <li><i class="fa fa-calendar-days"></i> @item.NgayKhoiChieu.ToShortDateString()</li>
                                </ul>
                            </div>
                        </div>
                    }

                    <div class="col-lg-12">
                        <div class="main-button">
                            <a href="/Movies/NowShowing">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Nowshowing End ***** -->



    <!-- ***** Comingsoon Start ***** -->
    @*<div class="most-popular">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-section">
                    <h4><em>Phim</em> Đang Chiếu</h4>
                </div>

                <div class="row">
                    @foreach (var item2 in ViewBag.ComingSoon)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <a href="@Url.Action("Details", "Movies", new { MaPhim = item2.MaPhim })"><img src="@item2.HinhAnh" alt=""></a>
                                <h4 style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">@item2.TenPhim<br><span>@item2.MoTa</span></h4>
                                <ul>
                                    @if (item2.DoiTuong == null)
                                    {
                                        <li><i class="fa fa-language"></i> Chưa xác định</li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-language"></i> @item2.DoiTuong</li>
                                    }

                                    <li><i class="fa fa-calendar-days"></i> @item2.NgayKhoiChieu.ToShortDateString()</li>
                                </ul>
                            </div>
                        </div>
                    }

                    <div class="col-lg-12">
                        <div class="main-button">
                            <a href="/Movies/NowShowing">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- ***** Comingsoon End ***** -->
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/popup.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
</body>
</html>