@{
    ViewBag.Title = "Home Page";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Guardians Of The Galaxy VOL.3</h1>
                    <p class="lead fw-normal text-white-50 mb-4">"Guardians of the Galaxy Vol. 3" là bộ phim siêu anh hùng của Mỹ, là phần tiếp theo của loạt phim "Guardians of the Galaxy". Được đạo diễn bởi James Gunn, phim sẽ tiếp tục theo chân nhóm Guardians trong những cuộc phiêu lưu mới. Cốt truyện vẫn chưa được tiết lộ nhưng dự kiến sẽ ra mắt vào năm 2023.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">Đặt vé ngay</a>
                        <a class="btn btn-outline-light btn-lg px-4" target="_blank" href="/Movies/Details?MaPhim=MV07">Xem Trailer</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/Content/images/moviebanner/guardians of the galaxy 3_1.jpeg" alt="..." /></div>
        </div>
    </div>
</header>

<!-- Phim đang chiếu section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Phim đang chiếu</h2>
                    <p class="lead fw-normal text-muted mb-5">Các phim đang chiếu tại các rạp của chúng tôi.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="@item.HinhAnh" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">@item.DoiTuong</div>
                            <a class="text-decoration-none link-dark stretched-link" href="@Url.Action("Details", "Movies", new { MaPhim = item.MaPhim })"><h5 class="card-title mb-3">@item.TenPhim</h5></a>
                            <p class="card-text mb-0" style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.MoTa</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="text-muted">@item.NgayKhoiChieu</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button class="btn btn-outline-dark" onclick="window.location.href='/Movies/NowShowing'">Tất cả phim</button>
        </div>
    </div>
</section>