@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>[Bắp Nước] Cinema Ticket Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- Thêm link đến thư viện SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
</head>

<body>
    <!-- ***** Banner Start ***** -->
    <div class="main-banner" style="min-height: unset; padding: unset">
        <div class="row">
            <div class="header-text">
                @*<h4 style="text-align: center; margin: 30px 0 0; color: #ffff00">@ViewBag.moviesdetail.Phim.TenPhim</h4>*@
                <h6 style="text-align: center; margin: 0"><b style="color: #ec6090; font-size: 18px">[Suất chiếu: @ViewBag.moviesdetail.MaSuatChieu]</b> <b style="font-size: 17px">Ngày chiếu: @ViewBag.moviesdetail.NgayChieu.ToShortDateString() - Giờ chiếu: @ViewBag.moviesdetail.GioBatDau.ToString("hh\\:mm") - @ViewBag.moviesdetail.PhongChieu.TenPhong</b></h6>
            </div>
        </div>
    </div>
    <!-- ***** Banner End ***** -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content" style="margin-top: 30px">
                    <!-- ***** Popcorn and Drink Start ***** -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="featured-games header-text" style="max-height: 515px;">
                                <div class="heading-section">
                                    <h4><em>Chọn</em> Bắp Nước</h4>
                                </div>
                                <div class="owl-features owl-carousel">
                                    @foreach (var foodndrink in ViewBag.Popcorn)
                                    {
                                        <div class="item">
                                            <div class="thumb">
                                                <img src="@foodndrink.HinhAnhMon" alt="">
                                                <div class="hover-effect">
                                                    <h6>@string.Format("{0:#,0}", @foodndrink.GiaMon)</h6>
                                                </div>
                                            </div>
                                            <h4>@foodndrink.TenMon<br><span style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; min-height: 110px">@foodndrink.MoTa</span></h4>

                                            <a href="@Url.Action("AddToCart", "Booking", new { ID = foodndrink.MaMon, @strURL = Request.Url.ToString()})"><i class="fa-solid fa-circle-plus" style="color: #0d6efd; font-size: 25px; float: right; margin-right: 15px"></i></a>
                                            <a href="@Url.Action("UpdateCart", "Booking", new { ID = foodndrink.MaMon, @strURL = Request.Url.ToString()})"><i class="fa-solid fa-circle-minus" style="color: red; font-size: 25px; float: right; margin-right: 15px"></i></a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-downloaded" style="max-height: 515px">
                                <div class="heading-section">
                                    <h4 style="margin-bottom: 10px"><em>Thông Tin</em> Vé</h4>
                                </div>
                                <div class="card" style="padding: 10px; max-height: 370px; overflow: auto; background: none; border: none">
                                    <span style="text-align: center; color: #ffff00"><b>Vị Trí</b></span>
                                    @foreach (var item in Model)
                                    {
                                        <p class="fw-bold" style="color: white">Ghế @item.Day@item.Cot</p>
                                    }

                                    <span style="text-align: center; color: #ffff00"><b>Bắp Nước</b></span>
                                    @foreach (var item2 in ViewBag.CartMonAn)
                                    {
                                        <div class="list-group-item d-flex justify-content-between align-items-start">

                                            <p class="fw-bold" style="color: white">@item2.TenMon <span class="badge rounded-pill" style="background-color: #ec6090">@item2.SoLuong</span></p>

                                            <p><b>@string.Format("{0:#,0}", item2.ThanhTien)</b></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- ***** Promotions Start ***** -->
                            <div class="live-stream">

                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4><em>Khuyến Mãi</em></h4>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="top-streamers" style="padding: 0 30px">
                                        <select id="dropdownPromotions" name="promotionCode" class="dropdown-promotions" required="">
                                            <option value="">Chọn mã khuyến mãi</option>
                                            @foreach (var khuyenmai in ViewBag.KhuyenMaiList)
                                            {
                                                <option value="@khuyenmai.IdKM@khuyenmai.MaKM">
                                                    @if (khuyenmai.KhuyenMai.PhanTram == 0)
                                                    {
                                                        @Html.Raw($"{khuyenmai.KhuyenMai.TenKM}: Giảm {string.Format("{0:#,0}", khuyenmai.KhuyenMai.SoTienGiam)}")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw($"{khuyenmai.KhuyenMai.TenKM}: Giảm {khuyenmai.KhuyenMai.PhanTram}%")
                                                    }
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="top-streamers" style="padding: 0 30px">
                                        <input type="text" name="" class="textboxpromotions" required="" placeholder="Mã khuyến mãi">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="#" id="promocheck">Áp Dụng</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!-- ***** Promotions End ***** -->

                            <!-- ***** Payment Start ***** -->
                            <div class="live-stream">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4><em>Phương Thức</em> Thanh Toán</h4>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="top-streamers" style="padding: 0 30px">
                                        <ul>
                                            <li>
                                                <input type="radio" name="paymentMethod" value="VNPay" style="margin-right: 15px" />
                                                <img src="~/Content/images/vnpay_logo.png" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                                                <h6>Thanh toán VNPay</h6>
                                            </li>
                                            <li>
                                                <input type="radio" name="paymentMethod" value="Momo" style="margin-right: 15px" />
                                                <img src="~/Content/images/momo_logo.png" alt="" style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                                                <h6>Thanh toán Momo</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 style="text-align: center; margin-bottom: 20px"><b>TỔNG TIỀN: @string.Format("{0:#,0}", ViewBag.TongTien)</b></h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="#" onclick="handleButtonClick()">Thanh Toán</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ***** Payment End ***** -->
                        <!-- ***** Popcorn and Drink End ***** -->

                        @*<div style="text-align: center">
                                <a href="@Url.Action("Reselect", "Booking", new { maphim = @ViewBag.moviesdetail.MaPhim})" style="text-decoration: none; color: red; font-size: 20px"><b><i class="fa-solid fa-arrow-left" style="color: red"></i> QUAY LẠI</b></a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2023 <a href="/Home/About">Cinema Ticket Hub</a><br>Design by <a href="https://www.facebook.com/dangkhoabach.1609" target="_blank" title="free CSS templates">dangkhoabach</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/popup.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>

    <script>
        function handleButtonClick() {
            var radios = document.getElementsByName('paymentMethod');
            var selectedValue;

            // Lặp qua các radio và lấy giá trị của radio được chọn
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    selectedValue = radios[i].value;
                    break;
                }
            }

            // Kiểm tra giá trị của radio và thực hiện hành động tương ứng
            if (selectedValue === 'VNPay') {
                window.location.href = '/Booking/VNPay';
            } else if (selectedValue === 'Momo') {
                window.location.href = '/Booking/Momo';
            } else {
                // Hiển thị cảnh báo nếu không có radio nào được chọn
                alert("Vui lòng chọn Phương thức thanh toán");
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $("#promocheck").click(function (e) {
                e.preventDefault(); // Ngừng chuyển hướng trình duyệt khi nhấp vào liên kết

                var promocode = $(".textboxpromotions").val(); // Lấy giá trị từ input

                $.ajax({
                    type: "POST", // Phương thức gửi dữ liệu
                    url: "/Booking/PromotionCheck", // Đường dẫn đến controller và action xử lý dữ liệu
                    data: { promocode: promocode }, // Dữ liệu bạn muốn gửi đến controller
                    success: function (result) {
                        // Hiển thị thông báo dựa trên kết quả trả về
                        if (result.success) {
                            // Nếu kết quả thành công, hiển thị thông báo thành công
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công!',
                                text: result.message
                            });
                        } else {
                            // Nếu kết quả không thành công, hiển thị thông báo lỗi
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi!',
                                text: result.message
                            });
                        }
                    },
                    error: function (error) {
                        // Xử lý lỗi nếu có
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#dropdownPromotions").change(function () {
                var selectedPromoCode = $(this).val();
                $(".textboxpromotions").val(selectedPromoCode);
            });
        });
    </script>
</body>
</html>