@model CinemaTicketHub.Models.SuatChieu
@{
    Layout = null;
}

<head>
    <link href="~/Content/css/seatstyle.css" rel="stylesheet">

    <style>
        .footer {
            display: flex;
            justify-content: space-between;
        }

        .left-column {
            display: flex;
        }

        .right-column {
            margin-left: auto;
        }

        .rounded-div {
            border-radius: 40px;
            padding: 10px 11px;
            background-color: white;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1 style="color: #dc3545">@Model.Phim.TenPhim</h1>
        <h4>Ngày chiếu: @Model.NgayChieu - Suất chiếu: @Model.GioBatDau - @Model.PhongChieu.TenPhong</h4>
    </div>
    <div class="screen" style="width: 620px; margin-bottom: 70px"><h1 style="color: black; font-size: 30px; text-align: center">SCREEN</h1></div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        @foreach (var item in ViewBag.rowA)
        {
            <label class="checkbox-label">
                <input type="checkbox">
                <span>@item.Day@item.Cot</span>
            </label>
        }
    </div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        @foreach (var item in ViewBag.rowB)
        {
            <label class="checkbox-label">
                <input type="checkbox">
                <span>@item.Day@item.Cot</span>
            </label>
        }
    </div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        @foreach (var item in ViewBag.rowC)
        {
            <label class="checkbox-label">
                <input type="checkbox">
                <span>@item.Day@item.Cot</span>
            </label>
        }
    </div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        @foreach (var item in ViewBag.rowD)
        {
            <label class="checkbox-label">
                <input type="checkbox">
                <span>@item.Day@item.Cot</span>

            </label>
        }
    </div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        @foreach (var item in ViewBag.rowE)
        {
            <label class="checkbox-label">
                <input type="checkbox">
                <span>@item.Day@item.Cot</span>
            </label>
        }
    </div>
</body>

<footer class="footer">
    <div class="left-column" style="margin-left: 10px">
        <div class="row">
            <label class="checkbox-label">
                <input type="checkbox" disabled>
                <span></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế trống</span>

            <label class="checkbox-label">
                <input type="checkbox" checked disabled>
                <span></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế đang chọn</span>

            <label class="checkbox-label">
                <input type="checkbox" disabled>
                <span style="background-color: white"></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế đã chọn</span>
        </div>
    </div>
    <div class="right-column" style="margin-right: 50px">
        <div class="rounded-div">
            <div class="row">
                <p style="margin-right: 20px; color: black">Tổng tiền: <b>500.000</b> ghế</p>
                <button type="button" class="btn danger" style="border-radius: 40px">Thanh toán</button>
            </div>
        </div>
    </div>
</footer>