@model CinemaTicketHub.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>[Phim Đang Chiếu] Cinema Ticket Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <style>
        .btn-submit {
            display: none
        }

        #txtpassword2, #txtpassword4, #txtpassword6 {
            display: none;
        }

        #txtpassword1, #txtpassword3, #txtpassword5 {
            margin: 10px 0;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>

<body>
    <!-- ***** Details Start ***** -->
    <div class="game-details">
        <div class="row">
            <h2 style="margin: 0 0 25px">Đổi Mật Khẩu</h2>
            <div class="col-lg-12" style="text-align: center">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group" style="margin: 10px 0">
                        <label style="font-size: 15px; color: white; margin-right: 74px">Mật khẩu hiện tại</label>
                        <input type="password" name="" class="textboxnew" required="" id="txtpassword1" placeholder="Mật khẩu hiện tại">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "txtpassword2" })
                        </div>
                    </div>
                    <div class="form-group" style="margin: 10px 0">
                        <label style="font-size: 15px; color: white; margin-right: 97px">Mật khẩu mới</label>
                        <input type="password" name="" class="textboxnew" required="" id="txtpassword3" placeholder="Mật khẩu mới">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "txtpassword4" })
                        </div>
                    </div>
                    <div class="form-group" style="margin: 10px 0">
                        <label style="font-size: 15px; color: white; margin-right: 20px">Xác nhận mật khẩu mới</label>
                        <input type="password" name="" class="textboxnew" required="" id="txtpassword5" placeholder="Xác nhận mật khẩu mới">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtpassword6" })
                        </div>
                    </div>

                    <button class="btn-submit" type="submit" style="margin: 10px 0">Đổi mật khẩu</button>

                    <div class="main-border-button">
                        <a href="#" style="width: 17%" onclick="document.querySelector('.btn-submit').click(); return false;">Đổi Mật Khẩu</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- ***** Details End ***** -->
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/popup.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script>
        $('#txtpassword1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword2').val(value);
        });


        $('#txtpassword3').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword4').val(value);
        });

        $('#txtpassword5').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword6').val(value);
        });
    </script>
</body>
</html>