@using Microsoft.AspNet.Identity;
@using CinemaTicketHub.Models
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId());
    var roles = userManager.GetRoles(user.Id);
    var userrole = roles.FirstOrDefault();
}


@{
    ViewBag.Title = "Phim đang chiếu";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>[Cá Nhân] Cinema Ticket Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <!-- ***** Banner Start ***** -->
    <div class="row">
        <div class="col-lg-12">
            <div class="main-profile ">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="@user.Avatar" alt="" style="border-radius: 23px;">
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <div class="main-info header-text">
                            <span>VIP</span>
                            <h4>@user.Name</h4>
                            <p>Giới thiệu bản thân!</p>
                            <div class="main-border-button">
                                <a href="#" style="margin-right: 20px">Sửa thông tin</a>
                                <a href="/Manage/ChangePassword">Đổi Mật Khẩu</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <ul>
                            <li>Email <span>@user.Email</span></li>
                            <li>Số điện thoại <span>@user.PhoneNumber</span></li>
                            <li>Ngày sinh <span>@user.Birthday.ToShortDateString()</span></li>
                            <li>Role <span>@userrole</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Banner End ***** -->
    <!-- ***** My Ticket Start ***** -->
    <div class="gaming-library">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4 style="margin-bottom: 0"><em>Vé</em> của bạn</h4>
                <p style="margin-bottom: 30px">Bạn chỉ có thể xem các vé đã mua trong tháng hiện tại.</p>
            </div>
            @foreach (var item in ViewBag.hoadon)
            {
                if (item.ngaychieu.Month == DateTime.Now.Month)
                {
                    <div class="item">
                        <ul>
                            @**@                        @*<li><img src="~/Content/assets/images/game-01.jpg" alt="" class="templatemo-item"></li>*@
                            <li><h4>@item.tenphim</h4><span>@item.ngaychieu.ToShortDateString() - @item.giobatdau.ToString("hh\\:mm")</span></li>
                            <li><h4>Phòng chiếu</h4><span>@item.phongchieu</span></li>

                            @{
                                var itemsGheNgoi = "";
                                int demghe;
                                foreach (var item2 in item.ghe)
                                {
                                    itemsGheNgoi += item2.day + item2.cot;
                                }
                                demghe = (itemsGheNgoi.Count()) / 2;

                                // Đặt dấu "," giữa các items ghế
                                var itemsGheNgoi2 = "";
                                foreach (var item2 in item.ghe)
                                {
                                    itemsGheNgoi2 += item2.day + item2.cot + ", ";
                                }
                                // Xóa dấu ',' ở cuối chuỗi
                                if (itemsGheNgoi2.Length > 0)
                                {
                                    itemsGheNgoi2 = itemsGheNgoi2.Substring(0, itemsGheNgoi2.Length - 2);
                                }
                            }
                            <li><h4>@demghe ghế</h4><span>@itemsGheNgoi2</span></li>

                            @{
                                // Đặt dấu "," giữa các items bắp nước
                                var itemsBapNuoc = "";
                                foreach (var item2 in item.bapNuoc)
                                {
                                    itemsBapNuoc += @item2.tenmon + " (" + @item2.soluongmon + ")" + ", ";
                                }
                                // Xóa dấu ',' ở cuối chuỗi
                                if (itemsBapNuoc.Length > 0)
                                {
                                    itemsBapNuoc = itemsBapNuoc.Substring(0, itemsBapNuoc.Length - 2);
                                }
                            }


                            @*Kiểm tra khách hàng có mua bắp nước không*@
                            @if (itemsBapNuoc == "" || itemsBapNuoc == null)
                            {
                                <li><h4>Bắp nước</h4><span>Không có</span></li>
                            }
                            else
                            {
                                <li><h4>Bắp nước</h4><span>@itemsBapNuoc</span></li>
                            }

                            <li><h4>@item.payment</h4><span>@string.Format("{0:#,0}", @item.tongtien)</span></li>
                            <li><div class="main-border-button border-no-active"><a href="#" data-mahoadon="@item.mahoadon">Chi Tiết</a></div></li>
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
    <!-- ***** My Ticket End ***** -->
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/popup.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
    // Bắt sự kiện click trên thẻ <a> trong thẻ <div> có class "main-border-button"
    $('.main-border-button a').on('click', function(e) {
        // Ngăn chặn hành vi mặc định của thẻ <a> (ngăn chặn chuyển hướng)
        e.preventDefault();

        // Lấy giá trị của item mahoadon từ thuộc tính data-mahoadon của thẻ <a>
        var mahoadon = $(this).data('mahoadon');

        // Chuyển hướng đến trang Manage/Ticket và truyền giá trị mahoadon
        window.open('/Manage/Ticket?mahoadon=' + mahoadon, '_blank');
    });
});
    </script>
</body>
</html>