@using CinemaTicketHub.Models
@using CaptchaMvc.HtmlHelpers
@model LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/authenticatestyle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-box">
        <a href="/Home/Index" class="gotosignup" style="float: left"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 style="margin-top: 20px">Đăng nhập</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="user-box">
                <input type="text" name="" required="" id="txtemail1">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtemail2" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="user-box">
                <input type="password" name="" required="" id="txtpassword1">
                <label>Mật khẩu</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtpassword2" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="user-box">
                @Html.MathCaptcha()
                <p>@ViewBag.ErrorCaptcha</p>
            </div>
            <a href="#" onclick="document.querySelector('.btn-default').click(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Đăng nhập
            </a>

            <input type="submit" value="Log in" class="btn btn-default" />
        }
        <a href="/Account/Register" class="gotosignup">Bạn chưa có tài khoản?</a>
        <hr />
        <a href="/Account/ForgotPassword" class="gotosignup">Bạn quên mật khẩu?</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#txtemail1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtemail2').val(value);
        });


        $('#txtpassword1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword2').val(value);
        });
    </script>
</body>
</html>