@model CinemaTicketHub.Models.RegisterViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Đăng ký</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/authenticatestyle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-box">
        <a href="/Home/Index" class="gotosignup" style="float: left"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 style="margin-top: 20px">Đăng ký</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="user-box">
                <input type="text" name="" required="" id="txtemail1">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtemail2" })
            </div>
            <div class="user-box">
                <input type="text" name="" required="" id="txtname1">
                <label>Họ và Tên</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtname2" })
            </div>
            <div class="user-box">
                <input type="text" name="" required="" id="txtphone1">
                <label>Số điện thoại</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "txtphone2" })
            </div>
            <div class="user-box">
                <input type="text" name="" required="" id="txtbirthday1">
                <label>Ngày sinh</label>
                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", id = "txtbirthday2" })
                @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "error-message" })
            </div>
            <div class="user-box">
                <input type="password" name="" required="" id="txtpassword1">
                <label>Mật khẩu</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtpassword2" })
            </div>
            <div class="user-box">
                <input type="password" name="" required="" id="txtpassword3">
                <label>Nhập lại mật khẩu</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtpassword4" })
            </div>
            <a href="#" onclick="document.querySelector('.btn-default').click(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Đăng ký
            </a>

            <input type="submit" class="btn btn-default" value="Register" />
        }
        <a href="/Account/Login" class="gotosignup">Bạn đã có tài khoản?</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#txtemail1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtemail2').val(value);
        });

        $('#txtname1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtname2').val(value);
        });

        $('#txtphone1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtphone2').val(value);
        });

        $('#txtbirthday1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtbirthday2').val(value);
        });


        $('#txtpassword1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword2').val(value);
        });

        $('#txtpassword3').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword4').val(value);
        });
    </script>
</body>
</html>