@model CinemaTicketHub.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>[Đặt lại mật khẩu] Cinema Ticket Hub</title>
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/authenticatestyle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-box">
        <a href="/Account/Login" class="gotosignup" style="float: left"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 style="margin-top: 20px">Quên mật khẩu</h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="user-box">
                <input type="text" name="" required="" id="txtemail1">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtemail2" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="user-box">
                <input type="password" name="" required="" id="txtpassword1">
                <label>Mật khẩu</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtpassword2" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="user-box">
                <input type="password" name="" required="" id="txtpassword3">
                <label>Nhập lại mật khẩu</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtpassword4" })
            </div>
            <a href="#" onclick="document.querySelector('.btn-default').click(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Đổi mật khẩu
            </a>

            <input type="submit" class="btn btn-default" value="Reset" />
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#txtemail1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtemail2').val(value);
        });


        $('#txtpassword1').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword2').val(value);
        });

        $('#txtpassword3').on('input', function () {
            var value = $(this).val();

            // Gán giá trị của textbox 1 cho Html.TextBoxFor
            $('#txtpassword4').val(value);
        });
    </script>
</body>
</html>